@charset "UTF-8";
/* CSS Document */

body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0;
	}
.cleaner {
	clear:both;
	float:none;
	}	
.container {
	width: 1024px;
	float:none;
	margin:0 auto;
	}
.contenido{
	width: 1024px;
	float:none;
	margin:0 auto;
	height:1300px;
	}
		
head {
	height:105px;
	}		
.superior {
	float: right;
	list-style: none;
	text-decoration: none;
	text-align: right;
	}
	
	
.superior li{
	float: left;
	margin-left: 9px;
	margin-right: 8px;
	padding-right: 7px;
	}	

.superior li a {
	text-decoration:none;
	color: #3A3335;
	font-size:12px;

	}
	
 i{
	width: 22px;
	height: 23px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url('images/sprite.png');
	display: inline-block;
	margin-top: -14px;
	margin-right: 6px;
	margin-left: 0px;
	}
	
i.sucursales {
	background-position: 13% -7%;
}	

i.comocomprar {
	background-position: 20% -8%;
	}
	
.brand-obj{
float:left;
	}

.logo {
	margin-right: 39px;
	margin-top: -12px;
}
	
.brand-obj input {
	height: 31px;
	width: 500px;
	margin-left: 28px;
	}	
.search {
	width: 36px;
	height: 36px;
	margin-bottom: -13px;
	margin-right: 40px;
	margin-left: 0px;
	}
i.search {
	background-position: 1% 95%;
	background-color: #FCAF17;
	margin-top: -1px;
	}	
.oferta{
	}

.menu {
	width:100%;
	background-color:#323232;
	height: 40px;
	}
	
nav {
	width:1024px;
	float:none;
	margin: 0 auto;
	}
	
.genero {
	float: left;
	color: #FCAF17;
	margin-top: 9px;
	margin-left: 9px;
	margin-bottom: 9px;
	border-right: 1px solid #797979;
	width: 79px;
	text-align: center;
	padding-right: 7px;
	font-size:15px;
	font-weight:700;
	}	
	
.carrito {
	text-align: center;
	float: right;
	color: #fff;
	margin-top: -7px;
	}
	
.carrito i {
	background-position: 26% -5%;
}	
	
.submenu {
	width: 473px;
	height: 330px;
	background: #FFF;
	top: 147px;
	position: fixed;
	font-size: 12px;
	border-top: 2px outset #B0B0B0;
	border-left: 2px outset #B0B0B0;
	padding-top: 10px;
	z-index: 2000;
}

.categorias {
	width: 210px;
	text-align: left;
	float: left;
	}

	
.categorias p{
	background-color: #FCAF17;
	font-size: 14px;
	font-weight: bold;
	width: 78px;
	padding-left: 13px;
	padding-right: 6px;
	}
	
.categorias ul {
	position: relative;
	left: -37px;
	}	
.categorias li {
	list-style: none;
	text-align: left;
	float: none;
	margin-bottom: 5px;
	}

.vermas {
	text-decoration:none;
	color: #000;
	font-weight: bold;
	}	
.vermas i {
	background-position: 65% -11%;
}

.destacado {
	width: 240px;
	float: left;
	border-left: 2px solid #D6D6D6;

	}
	
.info-dest {
	width:80%;
	float:none;
	margin: 0 auto;
	}
.img-pr {
	border: solid 1px #D7D7D7;
	width:100%;
	}	
.active {
	color: #fff;
	}	
.precioymarca {
	color: #d44700;
	font-weight: 900;
	font-family:15px;
	}
.banner img {
	width:100%;
	}
.filtrar {
	width: 165px;
	margin-right:40px;
	float:left;
	}	
	
.tit-filtro {
	color: #fff;
	background: #000000;
	font-size: 16px;
	padding-left:10px;
	}	
.filtro-activo { 
	background:#FCAF17;
	color: #000000;
	}	
.filtro h5 i{
	background-position: 89% -23%;
	float: right;
	height: 29px;
	margin-top: -14px;
	}	
.opc-filtro {
	align-content: center;
	margin-left: -26px;
	text-align: left;
	margin-top: -14px;
	margin-bottom: -15px;
	}	
.opc-filtro li {
	list-style: none;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size:15px;
	}	
.opc-filtro i{
	background-position: 38% -22%;
	width: 18px;
	float: left;
	height: 31px;
	}	
.galeria {
	width: 819px;
	float: right;
	}
	
.product-home {
	width: 185px;
	margin-right: 10px;
	float: left;
	height: 356px;
	margin-bottom: 22px;
	}

.img-producto {
	border-left: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	width: 100%;
	border-radius: 6px;
	-webkit-box-shadow: -1px 1px 0px 0px #CDCDCD;
	box-shadow: -1px 1px 0px 0px #CDCDCD;
	}
.ofer-producto {
	width: 100%;
	text-align: center;
	height: 15px;
	background: #E11E1B;
	color: #fff;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size:11px;
	}		
.tit-producto {
	font-size: 15px;
	font-weight: bold;
	color: #231F20;
	margin-top: 2px;
	}
.pre-producto {
	color: #d44700;
	font-family:15px;
	}	
.cat-prodcuto {
	font-size: 11px;
	color: #5C5C5C;
	}
i.adidas {
	background-position: 2% 39%;
	float: right;
	width: 46px;
	height: 36px;
}	

i.nike {
	background-position: 14% 33%;
	float: right;
	width: 46px;
	height: 36px;
}	

i.jockey {
	background-position: 34% 33%;
	float: right;
	width: 46px;
	height: 36px;
}	

footer{
	height: 58px;
	background-color: #323232;
	}
	
i.firma {
	background-position: 72% 72%;
	float: right;	
	width: 83px;
	height: 28px;
	margin-top: 11px;
}	

i.desarrolador {
	background-position: 72% 29%;
	float: right;
	width: 83px;
	height: 28px;
	margin-top: 11px;
	}